<?xml version="1.0" encoding="UTF-8"?>
<beans:beans 
    xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- Base package for the component scan -->
	<context:component-scan base-package="de.webertise.simpleprp" />

	<mvc:annotation-driven />

	<beans:bean
		class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
		<beans:property name="order" value="1" />
		<beans:property name="mediaTypes">
			<beans:map>
				<beans:entry key="json" value="application/json" />
				<beans:entry key="xml" value="application/xml" />
			</beans:map>
		</beans:property>
		<beans:property name="defaultViews">
			<beans:list>

				<!-- JSON View -->
				<beans:bean
					class="org.springframework.web.servlet.view.json.MappingJacksonJsonView"></beans:bean>

				<!-- XML view -->
				<beans:bean
					class="org.springframework.web.servlet.view.xml.MarshallingView">
					<beans:constructor-arg>
						<beans:bean class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
							<beans:property name="classesToBeBound">
								<beans:list>
									<beans:value>de.webertise.simpleprp.model.User</beans:value>
									<beans:value>de.webertise.simpleprp.model.Client</beans:value>
									<beans:value>de.webertise.simpleprp.model.Customer</beans:value>
									<beans:value>de.webertise.simpleprp.model.Module</beans:value>
									<beans:value>de.webertise.simpleprp.model.Project</beans:value>
									<beans:value>de.webertise.simpleprp.model.ResourceReservation</beans:value>
									<beans:value>de.webertise.simpleprp.model.ResourceRole</beans:value>
									<beans:value>de.webertise.simpleprp.model.Role</beans:value>
								</beans:list>
							</beans:property>
						</beans:bean>
					</beans:constructor-arg>
				</beans:bean>

			</beans:list>
		</beans:property>
	</beans:bean>
	
	<!-- If no extension matched, use JSP view -->
	<beans:bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<beans:property name="order" value="2" />
		<beans:property name="prefix">
			<beans:value>/WEB-INF/pages/</beans:value>
		</beans:property>
		<beans:property name="suffix">
			<beans:value>.jsp</beans:value>
		</beans:property>
	</beans:bean>

</beans:beans>